arquivos/36/AnypointStudio/plugins/org.mule.tooling.server.3.6.1.ee_5.0.2.201502251902/schemas/META-INF/mule-oauth2-provider.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:ns2="http://www.mulesoft.org/schema/mule/devkit" xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.mulesoft.org/schema/mule/oauth2-provider">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" namespace="http://www.springframework.org/schema/beans"></xs:import>
  <xs:import schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" namespace="http://www.mulesoft.org/schema/mule/core"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="config" substitutionGroup="mule:abstract-extension" ns2:javaClass="org.mule.modules.oauth2.provider.adapters.OAuth2ProviderModuleLicenseChecker">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>&lt;p&gt;
OAuth2 Provider
&lt;/p&gt;</xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="clients" maxOccurs="1" minOccurs="0">
              <xs:annotation>
                <xs:documentation></xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="client" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" base="ClientObjectType">
                          <xs:attribute name="value-ref" use="optional" type="xs:string"></xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="ref" use="optional" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>The reference object for this parameter</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>Give a name to this configuration so it can be later referenced by config-ref.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="providerName" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The human-friendly name of this provider.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="host" default="localhost" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The host to use when programmatically generating the inbound endpoints.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" name="port" default="9999" use="optional" type="integerType">
            <xs:annotation>
              <xs:documentation>The port to use when programmatically generating the inbound endpoints.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="clientStore-ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>A store that allows retrieving client configuration information, like their
secret. If no client store is provided, a default in memory object store is
configured. Clients can be registered on the default object store since it
implements the ClientRegistration interface.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="authorizationCodeStore-ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>A store that allows storing and retrieving authorization codes. If no
authorization code store is provided, a default in memory object store is
configured.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="tokenStore-ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>A store that allows storing and retrieving tokens. If no token store is
provided, a default in memory object store is configured.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="loginPage" default="org/mule/modules/oauth2/provider/www/templates/login.html" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>Full path, relative path or classpath location of the HTML login page
template.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="scopes" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>A space-separated list of supported scopes.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="defaultScopes" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>A space-separated list of the default scopes
a client should have if none is defined.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="authorizationEndpointPath" default="authorize" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The authorization endpoint path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="accessTokenEndpointPath" default="token" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The access token endpoint path.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" name="authorizationTtlSeconds" default="600" use="optional" type="integerType">
            <xs:annotation>
              <xs:documentation>The time in seconds before an authorization grant code expires.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" name="tokenTtlSeconds" default="86400" use="optional" type="integerType">
            <xs:annotation>
              <xs:documentation>The time in seconds before an access token code expires.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="connector-ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The connector for which endpoints will be generated.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="resourceOwnerSecurityProvider-ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The security provider used to authenticate resource owners. Not needed if only
the CLIENT_CREDENTIALS grant type is used.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="clientSecurityProvider-ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The security provider used to authenticate clients. Not needed if only public
clients or private clients with client_secrets are used.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" name="enableRefreshToken" default="false" use="optional" type="booleanType">
            <xs:annotation>
              <xs:documentation>Should refresh tokens be generated?</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="supportedGrantTypes" default="AUTHORIZATION_CODE" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The space-separated grant types this provider will support. If none specified,
only the authorization code grant type will be supported.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="rateLimiter-ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The rate limiter used to control access to certain operations. If none is
specified  will be used as default.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ClientObjectType">
    <xs:sequence>
      <xs:element name="redirect-uris" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="redirect-uri" maxOccurs="unbounded" minOccurs="0">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="value-ref" use="optional" type="xs:string"></xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The reference object for this parameter</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="authorized-grant-types" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="authorized-grant-type" maxOccurs="unbounded" minOccurs="0">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" base="RequestGrantTypeEnumType"></xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The reference object for this parameter</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="scopes" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="scope" maxOccurs="unbounded" minOccurs="0">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="value-ref" use="optional" type="xs:string"></xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="ref" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>The reference object for this parameter</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="clientId" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="principal" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>An optional principal to use when the ID can't be used with the security
provider.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="clientName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="secret" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" name="type" use="optional" type="ClientTypeEnumType">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="validate-client" substitutionGroup="mule:abstract-intercepting-message-processor" type="ValidateClientType">
    <xs:annotation>
      <xs:documentation>&lt;p&gt;
Checks that the provided client credentials are valid.
&lt;/p&gt;
&lt;p/&gt;</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ValidateClientType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractInterceptingMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="validate" substitutionGroup="mule:abstract-intercepting-message-processor" type="ValidateType">
    <xs:annotation>
      <xs:documentation>&lt;p&gt;
Checks that a valid access token is provided.
&lt;/p&gt;
&lt;p/&gt;</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ValidateType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractInterceptingMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scopes" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Optional scopes to enforce when validating the token.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="resourceOwnerRoles" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Optional resource owner roles to enforce when validating the token.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" name="throwExceptionOnUnaccepted" default="false" use="optional" type="booleanType">
          <xs:annotation>
            <xs:documentation>whether an InvalidAccessTokenException exception should be thrown in case of an invalid access token instead of only stopping the flow execution. False by default.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="create-client" substitutionGroup="mule:abstract-message-processor" type="CreateClientType">
    <xs:annotation>
      <xs:documentation>&lt;p&gt;
Creates a new client and saves it in the configured client store.
&lt;/p&gt;
&lt;p/&gt;</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CreateClientType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element name="redirect-uris" maxOccurs="1" minOccurs="0">
            <xs:annotation>
              <xs:documentation>a list with the Client's valid redirect uris</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="redirect-uri" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="value-ref" use="optional" type="xs:string"></xs:attribute>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="ref" use="optional" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="authorized-grant-types" maxOccurs="1" minOccurs="0">
            <xs:annotation>
              <xs:documentation>the Client's supported grant types</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="authorized-grant-type" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" base="RequestGrantTypeEnumType"></xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="ref" use="optional" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="scopes" maxOccurs="1" minOccurs="0">
            <xs:annotation>
              <xs:documentation>the Client's supported scopes</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="scope" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="value-ref" use="optional" type="xs:string"></xs:attribute>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="ref" use="optional" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="clientId" use="required" type="xs:string">
          <xs:annotation>
            <xs:documentation>the Client Id</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="secret" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>the Client secret</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" name="type" use="optional" type="ClientTypeEnumType">
          <xs:annotation>
            <xs:documentation>Clients can be PUBLIC or CONFIDENTIAL. If Confidential the secret is required. By default Clients are PUBLIC</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="clientName" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>a friendly name for the Client</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>a brief description of the Client</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="principal" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>An optional principal to use when the ID can't be used with the security provider</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="delete-client" substitutionGroup="mule:abstract-message-processor" type="DeleteClientType">
    <xs:annotation>
      <xs:documentation>&lt;p&gt;
Deletes a client from the store.
&lt;/p&gt;</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeleteClientType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="clientId" use="required" type="xs:string">
          <xs:annotation>
            <xs:documentation>the Client Id</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="revoke-token" substitutionGroup="mule:abstract-message-processor" type="RevokeTokenType">
    <xs:annotation>
      <xs:documentation>&lt;p&gt;
Revokes an access token or refresh token, invalidating the related refresh token or access token as well.
If client credentials need to be validated the validateClient credential should be used before.
&lt;/p&gt;</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RevokeTokenType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute name="config-ref" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="token" use="required" type="xs:string">
          <xs:annotation>
            <xs:documentation>the token to revoke, it can be an access token or a refresh token</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RequestGrantTypeEnumType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTHORIZATION_CODE">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="REFRESH_TOKEN">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="TOKEN">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PASSWORD">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CLIENT_CREDENTIALS">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="ClientTypeEnumType">
    <xs:annotation>
      <xs:documentation>Client types supported by Oauth specification. Confidential clients are capable of
maintaining confidentiality of credentials while public are not.</xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CONFIDENTIAL">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PUBLIC">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="OnNoTokenPolicyEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EXCEPTION"></xs:enumeration>
          <xs:enumeration value="STOP_FLOW"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="integerType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:integer"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="decimalType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:decimal"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="floatType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:float"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="doubleType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:double"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="dateTimeType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:dateTime"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="longType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:long"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="byteType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:byte"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="booleanType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:boolean"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="anyUriType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:anyURI"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="charType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"></xs:minLength>
          <xs:maxLength value="1"></xs:maxLength>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>