arquivos/36/AnypointStudio/plugins/org.mule.tooling.server.3.6.1.ee_5.0.2.201502251902/schemas/META-INF/mule-data-mapper.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://www.mulesoft.org/schema/mule/ee/data-mapper">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:import schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xs"
               namespace="http://www.springframework.org/schema/beans"/>
    <xs:import schemaLocation="http://www.mulesoft.org/schema/mule/core/3.3/mule.xs"
               namespace="http://www.mulesoft.org/schema/mule/core"/>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="config"
                substitutionGroup="mule:abstract-extension">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Data Mapper Mule entry point.</xs:documentation>
                    </xs:annotation>
                    <xs:attribute name="name" use="optional" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Give a name to this configuration so it can be later referenced by
                                config-ref.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="initialPoolSize" use="optional" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>
                                The initial size of the pool for configurations.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="transformationGraphPath" use="required" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Relative or absolute path to the CloverETL graph to execute.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element xmlns="http://www.mulesoft.org/schema/mule/ee/data-mapper"
                xmlns:mule="http://www.mulesoft.org/schema/mule/core" name="transform"
                substitutionGroup="mule:abstract-message-processor" type="TransformType">
        <xs:annotation>
            <xs:documentation>Transform an input data format into another. User can specify additional arguments to
                enrich the result.
            </xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:complexType name="TransformType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core"
                          base="mule:abstractMessageProcessorType">
                <xs:sequence>
                    <xs:element name="input-arguments" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Input Arguments. Additional arguments to the data mapping
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice>
                                <xs:sequence>
                                    <xs:element name="input-argument" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute name="value-ref" use="optional"
                                                                  type="xs:string"></xs:attribute>
                                                    <xs:attribute name="key" type="xs:string"></xs:attribute>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:sequence>
                                    <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"></xs:any>
                                </xs:sequence>
                            </xs:choice>
                            <xs:attribute name="ref" use="optional" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>The reference object for this parameter</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="config-ref" use="optional" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="stream" use="optional" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Specify weather to use streaming or not.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="returnClass" use="optional" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The class type of the returned payload i.e java.lang.String.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="target" default="#[payload]" use="optional" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            The enricher expression used to enrich the current message with the result
                            of the DataMapper processing.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="pipeSize" use="optional" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation>Specify the size of the pipe to use.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="input-ref" default="#[payload]" use="optional" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The input data to be transformed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>